page-home {

.icon-resize{
	width:30px;
	height:30px;
}

.input-style{
	width: 90%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.div-input{
	text-align:center;
}


}

