page-register {

  .button-color{
    color: white;
    background-color: #ff4c00;
  }

  .other-register-label{
    margin: 10px 10px;
  }

  .link-color{
    color: #00afa7;
  }

  .other-login-label{
    margin: 20px 10px;
    text-align: center;
  }

  .facebook.btn{
    background-color: #3b5998;
    color: white;
  }

}
